.main-panel {
    display: grid;
    height: 100%;
}

.img-filter {
    background-color: rgb(62, 62, 62, 70%);
    mix-blend-mode: multiply;
    z-index: 0;
}

.card-img {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}