<div class="main-panel card border-0">

    <ul ngbNav #nav="ngbNav" class="nav-tabs border-0">

        <li ngbNavItem>
            <a ngbNavLink>NASA APOD</a>

            <ng-template ngbNavContent>
                <ng-container *ngTemplateOutlet="carousel"></ng-container>
            </ng-template>
        </li>

        <li ngbNavItem>
            <a ngbNavLink>POKÉMON</a>

            <ng-template ngbNavContent>
                <ng-container *ngTemplateOutlet="pokemon"></ng-container>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>

</div>

<ng-template #pokemon>

    <div class="pokemon container">

        <div ngbDropdown class="d-flex justify-content-center">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Pokemons</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let pokemon of allPokemons" (click)="pokemonSelected(pokemon.sprite)">{{pokemon.name}}</button>
            </div>
        </div>

        <div class="container" *ngIf="seletedPokemon">
            <img src="selectedPokemon.sprite" alt="">
        </div>

    </div>
</ng-template>


<ng-template #carousel>

    <div class="carousel card-body container">
        <ngb-carousel *ngIf="nasaData$ | async as nasaData">
            <ng-template ngbSlide *ngFor="let data of nasaData">

                <div class="picsum-img-wrapper">
                    <img class="carousel-img" src="{{data.url}}" alt="">
                </div>

                <div class="carousel-caption">
                    <h4>{{data.title}} / {{data.date}} </h4>
                    <!-- Slice cut the array in the 50 position. -->
                    <p>{{data.explanation |slice:0:51}}</p>

                    <footer>
                        <!-- The first data 04-03-2021, have't copyright data in his JSON-->
                        <p class="copyright-text" *ngIf="data.copyright"> Copyright: {{data.copyright}}</p>
                    </footer>
                </div>

            </ng-template>
        </ngb-carousel>
    </div>

</ng-template>
