.main-panel {
    background-color: #A1A1A1;
    width: 1246px;
    height: 499px;
}

.nav-tabs {
    background-color: #F2F2F2;
}

.carousel {
    width: 63rem;
}

.carousel-img {
    width: 63rem;
    height: 400px;
}

.copyright-text {
    color: rgb(254, 254, 254, 50%);
}
