<div class=" main-panel card border-0">

    <div class="container">
        <button class="log-out-btn btn btn-danger float-right" (click)="logOut()">Salir.</button>
    </div>

    <div class="card-body">

        <div class="container-fluid">
            <div class="row justify-content-center">

                <!-- This card only contains token data.-->
                <div class="token card">
                    <div class="card-title">
                        <p class="token-data text-justify">token:{{activatedToken}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <app-info-panel></app-info-panel>
        </div>
    </div>

</div>