.card {
    width: 326px;
    height: 100%;
    min-height: 358px;
    background-color: rgb(0, 0, 0, 70%);
}

.card-body {
    margin-top: -1rem;
}

.login-content {
    margin-top: 1rem;
}

.login-title {
    color: white;
    font-weight: bold;
    font-size: 3rem;
    margin-left: 1rem;
}
